<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css"/>
    <title>Main Page</title>
</head>
<body class="body">
    <form class="form-submit" action="/" method="post">
        <input type="text" id="title" name="title" placeholder="Title of the book">
        <input type="text" id="author" name="author" placeholder="Author">
        <button type="submit">Submit</button>
      </form>
      <ul>
        <% if (typeof errors !== 'undefined') 
        { %> <% errors.forEach(error => { %>
        <li><%= error %></li>
        <% }) %> <% } %>
    </ul>
    <div class="book-day-container">
        <div class="book-day">
            <h1>Cool new book you just posted.</h1>
            This is your book:  <%= books %>
          </div>
    </div>
</body>