<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css"/>
    <title>Main Page</title>
</head>
<body class="body">
    <div class="book-day-container">
        <div class="book-day">
            <h1>Book of the day!</h1>
            Are you looking for a book? We recommend you try <%= books %>
          </div>
    </div>
</body>